<html>
  <head>
    <title>PlaYStation</title>

    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="keywords"
      content="Game Robo a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design"
    />
    <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); },
      false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!-- //Meta-Tags -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    {{!-- google font --}}
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Chivo+Mono:wght@100&family=Courgette&family=Teko:wght@500&display=swap" rel="stylesheet">
    <!-- Custom-Stylesheet-Links -->
    <!-- Bootstrap-CSS -->
    <link
      rel="stylesheet"
      href="css/bootstrap.min.css"
      type="text/css"
      media="all"
    />
    <!-- Index-Page-CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!-- Owl-Carousel-CSS -->
    <link
      rel="stylesheet"
      href="css/owl.carousel.css"
      type="text/css"
      media="all"
    />
    <!-- Chocolat-CSS -->
    <link
      rel="stylesheet"
      href="css/chocolat.css"
      type="text/css"
      media="all"
    />
    <!-- Animate-CSS -->
    <link
      rel="stylesheet"
      href="css/animate-custom.css"
      type="text/css"
      media="all"
    />
    <!-- //Custom-Stylesheet-Links -->

    <!-- Fonts -->
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Montserrat:400,700"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Roboto:400,100,300,500"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Press+Start+2P"
      type="text/css"
      media="all"
    />
    <!-- //Fonts -->
    <!-- Font-Awesome-File-Links -->
    <!-- CSS -->
    <link
      rel="stylesheet"
      href="css/font-awesome.min.css"
      type="text/css"
      media="all"
    />
    <!-- TTF -->
    <link
      rel="stylesheet"
      href="fonts/fontawesome-webfont.ttf"
      type="text/css"
      media="all"
    />
    <!-- //Font-Awesome-File-Links -->
  </head>
  <body>
    {{{body}}}
    <!-- //Footer -->
    <div class="agilefooterwthree" id="agilefooterwthree">
      <div class="container">

        <div class="agilefooterwthree-grids">
          <div class="col-md-3 agilefooterwthree-grid agilefooterwthree-grid1">
            <h4>INFORMATION</h4>
            <ul>
              <li><a href="#">SPECIALS</a></li>
              <li><a href="#">NEW PRODUCTS</a></li>
              <li><a href="#">TOP SELLERS</a></li>
              <li><a href="#">BLOGS</a></li>
              <li><a href="#">REVIEWS</a></li>
              <li><a href="#">NEWS</a></li>
            </ul>
          </div>
          <div class="col-md-3 agilefooterwthree-grid agilefooterwthree-grid2">
            <h4>CATEGORIES</h4>
            <ul>
              <li><a href="#">GAME GENRES</a></li>
              <li><a href="#">PC GAMES</a></li>
              <li><a href="#">PLAYSTATION GAMES</a></li>
              <li><a href="#">XBOX GAMES</a></li>
              <li><a href="#">WII GAMES</a></li>
              <li><a href="#">ALL GAMES</a></li>
            </ul>
          </div>
          <div class="col-md-3 agilefooterwthree-grid agilefooterwthree-grid3">
            <h4>MY ACCOUNT</h4>
            <ul>
              <li><a href="#">MY ACCOUNT</a></li>
              <li><a href="#">MY ORDERS</a></li>
              <li><a href="#">MY DOWNLOADS</a></li>
              <li><a href="#">EDIT PROFILE</a></li>
              <li><a href="#">CHANGE PASSWORD</a></li>
              <li><a href="#">DONATE</a></li>
            </ul>
          </div>
          <div class="col-md-3 agilefooterwthree-grid agilefooterwthree-grid4">
            <h4>CONTACT</h4>
            <address>
              <ul>
                <li>40019 S.p.A</li>
                <li>Parma Via Modena</li>
                <li>Sant'Agata Bolognese</li>
                <li>BO, Italy</li>
                <li>+1 (734) 123-4567</li>
                <li><a
                    class="mail"
                    href="mailto:mail@example.com"
                  >info@example.com</a></li>
              </ul>
            </address>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="agilefooterwthreebottom">
          <div
            class="col-md-6 agilefooterwthreebottom-grid agilefooterwthreebottom-grid1"
          >
          </div>
          <div
            class="col-md-6 agilefooterwthreebottom-grid agilefooterwthreebottom-grid2"
          >
            <div class="agilesocialwthree">
              <ul class="social-icons">
                <li><a
                    href="#"
                    class="facebook w3ls"
                    title="Go to Our Facebook Page"
                  ><i
                      class="fa w3ls fa-facebook-square"
                      aria-hidden="true"
                    ></i></a></li>
                <li><a
                    href="#"
                    class="twitter w3l"
                    title="Go to Our Twitter Account"
                  ><i
                      class="fa w3l fa-twitter-square"
                      aria-hidden="true"
                    ></i></a></li>
                <li><a
                    href="#"
                    class="googleplus w3"
                    title="Go to Our Google Plus Account"
                  ><i
                      class="fa w3 fa-google-plus-square"
                      aria-hidden="true"
                    ></i></a></li>
                <li><a
                    href="#"
                    class="instagram wthree"
                    title="Go to Our Instagram Account"
                  ><i
                      class="fa wthree fa-instagram"
                      aria-hidden="true"
                    ></i></a></li>
                <li><a
                    href="#"
                    class="youtube w3layouts"
                    title="Go to Our Youtube Channel"
                  ><i
                      class="fa w3layouts fa-youtube-square"
                      aria-hidden="true"
                    ></i></a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- //Footer -->
    <!-- Default-JavaScript -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <!-- Bootstrap-JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <!-- Resopnsive-Slider-JavaScript -->
    <script src="js/responsiveslides.min.js"></script>
    <script>
      $(function () { $("#slider").responsiveSlides({ auto: true, nav: true,
      speed: 2000, namespace: "callbacks", pager: true, }); });
    </script>
    <!-- //Resopnsive-Slider-JavaScript -->

    <!-- Tab-JavaScript -->
    <script src="js/cbpFWTabs.js"></script>
    <script>
      (function() { [].slice.call( document.querySelectorAll( '.tabs' )
      ).forEach( function( el ) { new CBPFWTabs( el ); }); })();
    </script>
    <!-- //Tab-JavaScript -->

    <!-- Owl-Carousel-JavaScript -->
    <script src="js/owl.carousel.js"></script>
    <script>
      $(document).ready(function() { $("#owl-demo, #owl-demo1, #owl-demo2,
      #owl-demo3, #owl-demo4").owlCarousel({ autoPlay: 3000, items : 5,
      itemsDesktop : [1024,4], itemsDesktopSmall : [414,3] }); });
    </script>
    <!-- //Owl-Carousel-JavaScript -->

    <!-- Stats-Number-Scroller-Animation-JavaScript -->
    <script src="js/waypoints.min.js"></script>
    <script src="js/counterup.min.js"></script>
    <script>
      jQuery(document).ready(function( $ ) { $('.counter').counterUp({ delay:
      10, time: 1000 }); });
    </script>
    <!-- //Stats-Number-Scroller-Animation-JavaScript -->

    <!-- Popup-Box-JavaScript -->
    <script src="js/jquery.chocolat.js"></script>
    <script type="text/javascript">
      $(function() { $('.w3portfolioaits-item a').Chocolat(); });
    </script>
    <!-- //Popup-Box-JavaScript -->

    <!-- Smooth-Scrolling-JavaScript -->
    <script type="text/javascript">
      jQuery(document).ready(function($) { $(".scroll").click(function(event){
      event.preventDefault();
      $('html,body').animate({scrollTop:$(this.hash).offset().top},1000); });
      });
    </script>
    <!-- //Smooth-Scrolling-JavaScript -->
    
    <!-- //Custom-JavaScript-File-Links -->
  </body>
</html>