<!-- Navigation -->
      <div class="w3lsnavigation">
        <nav
          class="navbar navbar-inverse agilehover-effect wthreeeffect navbar-default"
        >

          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#navbar"
              aria-expanded="false"
              aria-controls="navbar"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Logo -->
            <div class="logo">
              <a class="navbar-brand logo-w3l button" href="#" style="font-family: font-family: 'Anton', sans-serif;
                font-family: 'Chivo Mono', monospace;
                font-family: 'Courgette', cursive;
                font-family: 'Teko', sans-serif;;">PlayStation</a>
            </div>
            <!-- //Logo -->
          </div>

          <div id="navbar" class="navbar-collapse navbar-right collapse">
            <ul
              class="nav navbar-nav navbar-right cross-effect"
              id="cross-effect">
              <li><a style="font-size: smaller;"  href="/">Home</a></li>
              <li><a style="font-size: smaller;"  href="/login">LogIn</a></li>
              <li><a style="font-size: smaller;"  href="/signup">SignUp</a></li>
              <li><a style="font-size: smaller;" class="scroll" href="#agilecontactw3ls">Admin</a></li>
            </ul>
          </div><!-- //Navbar-Collapse -->
        </nav>
    </div>
      <!-- //Navigation -->
<div class="container">
    <img style="width: 35%;float: left; margin-top: 5rem;" src="images/404error.png" alt="">
    <div style="padding: 10rem;margin-top: 3rem;">
        <h1><b>404</b></h1>
        <h3><b>Error</b></h3>
        <h5><b>Page not found</b></h5>
        <h6>The current page you are trying to access is not exist you can go back to <a href="/">home</a></h6>
    </div>
</div>