{{!-- <h3>Reset your Password</h3>
<form action="/resetpassword" method="post">
    <input type="password" name="password"  placeholder="Plase enter your Password">
    <br>
    <br>
    <input type="password" name="Dpassword"  placeholder="Re-enter your password">
    <br>
    <br>
    <input type="hidden" name="hiddenId" value="{{usrId}}">
    <input type="submit" value="Rest Password" > 
    <br>
    <br>
    {{Message}}
</form> --}}

<div class="w3lsstatsaits" id="w3lsstatsaits" style="background-image: url(images/reserp.jpeg);padding: 0;">
  <div class="container-fluid" style="width: 100%;height: 600px;padding: 0;font-family: font-family: 'Anton', sans-serif;
                font-family: 'Chivo Mono', monospace;
                font-family: 'Courgette', cursive;
                font-family: 'Teko', sans-serif;;">
        <!-- Navigation -->
      <div class="w3lsnavigation">
        <nav
          class="navbar navbar-inverse agilehover-effect wthreeeffect navbar-default"
        >

          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#navbar"
              aria-expanded="false"
              aria-controls="navbar"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Logo -->
            <div class="logo">
              <a class="navbar-brand logo-w3l button" href="#" style="color:rgb(0, 255, 0);font-family: font-family: 'Anton', sans-serif;
                font-family: 'Chivo Mono', monospace;
                font-family: 'Courgette', cursive;
                font-family: 'Teko', sans-serif;">PlayStation</a>
            </div>
            <!-- //Logo -->
          </div>

          <div id="navbar" class="navbar-collapse navbar-right collapse">
            <ul
              class="nav navbar-nav navbar-right cross-effect"
              id="cross-effect">
              <li><a style="font-size: smaller;"  href="/signup">SignUp</a></li>
              <li><a style="font-size: smaller;" class="scroll" href="#agilecontactw3ls">Admin</a></li>
            </ul>
          </div><!-- //Navbar-Collapse -->
        </nav>
    </div>
      <!-- //Navigation -->




    <div style="width: 100%;position:absolute;z-index: 1;top: 0; padding-top:20%;padding-left:5%;padding-right:5%;">
      <div style="width: 100%;height: 270px;background-color: rgba(0, 0, 0, 0.663);border-radius:40px;">
          <div class="login" style="width: 50%;padding-left:5rem;padding-top:1rem;">
            <H6 style="color: rgb(255, 0, 0);margin-top:.5rem;">{{userMessage}}</H6>
            <form action="/resetpassword" method="post">
                <!-- Password input -->
                <div class="form-outline mb-4" style="margin-top:3rem;">
                    <label style="color: rgb(184, 184, 184);" class="form-label text-warning" for="form2Example2">Password</label>
                    <input type="password" name="password" pattern=".{8,}" title="Eight or more characters"  placeholder="Plase enter your Password" id="password" style="background-color: rgba(59, 59, 59, 0.481);color:rgb(0, 255, 0);" class="form-control" required/>
                </div>
                <div class="form-outline mb-4">
                    <label style="color: rgb(184, 184, 184);" class="form-label text-warning" for="form2Example2">Re-Enter</label>
                    <input type="password" name="password2" pattern=".{8,}" title="Eight or more characters"  placeholder="Re-enter your Password" id="password" style="background-color: rgba(59, 59, 59, 0.481);color:rgb(0, 255, 0);margin-bottom:2rem;" class="form-control" required/>
                </div>
                <input type="hidden" name="hiddenId" value="{{usrId}}">
                <input type="submit" value="Reset Password" style="width: 50%; margin-left: 10rem;" class="btn btn-warning btn-block mb-4"> 
                <!-- Submit button -->

                <!-- Register buttons -->
            </form>
                  </div>
                  <div class="img" style="height:270px;float: left; width: 37%; position: absolute;right: 10rem; top: 27rem; padding: 2rem">
                      <img style="width: 90%%;height: 90%;margin-top: -.3rem;border-radius:30px" src="images/reserb.jpeg" alt="">
                  </div>
            </div>
      </div>
    </div>
    <!-- Stats -->
  </div>
</div>